
        	<ul>
        		<li class="home"><a href="index.html">Home</a></li>
        		<li class="press"><a href="press.html">Press</a></li>
        		<li class="contact"><a href="contact.html">Contact</a></li>
        	</ul>	
