---
title: mLotto - About
---

        <div id="col1"><img src="img/hex-side.png" alt="hex-side" id="hexside"></div>

        <div id="col2" class="clearfix">
          <h2>About <span class="blue">mLotto</span></h2>
          <p>mLotto is a South Florida-based technology company that has created a white-label mobile gaming platform for state lotteries.  With an emphasis on efficient payment processing, responsible gaming standards, and streamlined user interfaces, mLotto designs and implements customized, effective mobile solutions for lottery agencies across the country. mLotto is a subsidiary of JPay Inc, a leading processor of consumer-to-government payments. </p>
        </div>

        <div id="col3"><img src="img/hex-side-right.png" alt="hex-side-right" width="243" height="302"></div>
