---
title: mLotto - Home page

---

        <div id="col1"><img src="img/hex-side.png" alt="hex-side" id="hexside"></div>
        
        <div id="col2" class="clearfix">
          <h2>Lottery <span class="blue">Evolved</span></h2>
          <p>mLotto<sup>™</sup> is the end-to-end platform that ushers state lotteries &mdash; and their games &mdash; into the mobile age. Powered by a national leader in government payments, mLotto creates an environment where gameplay is not only intuitive and fast, but also in full compliance with state and federal guidelines.</p>
          <p>As a white-label platform, mLotto allows each lottery to maintain the integrity of its brand while dramatically expanding its reach into the mobile space. mLotto's development capability and customer service engine ensure that this is accomplished with little to no effort by the agency. This makes mLotto a safe bet for any lottery.</p>
        </div>

        <div id="col3"><img src="img/hex-side-right.png" alt="hex-side-right" width="243" height="302"></div>
	  



