---
title: mLotto - Press 

---

        <div id="col1"><img src="img/hex-side.png" alt="hex-side" name="hexside" id="hexside"></div>
        
        <div id="col2b" class="clearfix">

          <P><a href="http://www.prweb.com/releases/mlotto_2012/mobile_lottery_platform/prweb10031329.htm" target="_blank">mLotto Unveils Mobile Lottery Platform at Lottery Expo 2012 &mdash PRWeb.com</a></p>

          <h2>mLotto Unveils Mobile Lottery Platform </h2>
          <h4>South Florida startup brings its revolutionary approach to lottery game play to the 2012 Lottery Expo </h4>

          <p><b>Miami, FL October 15, 2012</b> &mdash; The State of Illinois introduced online lottery purchases this past March, and promptly saw $2.2 million in sales over the next three months. Since then, lotteries across the country have been searching for ways to expand their games onto digital platforms, especially the coveted and ubiquitous mobile device. To date, that search has been largely unsuccessful.</p>

          <p>Until now.</p>

          <p>mLotto, a white-label mobile gaming platform for state lotteries, will introduce its end-to-end lottery solution this month at the 2012 Lottery Expo in Miami. mLotto executives will also address the convention, highlighting the benefit of integrating social media and lottery gaming.</p>

          <p>mLotto is expanding the potential reach of state lotteries (and other state-sponsored chance games) by challenging conventional distribution channels and embracing the social components of game play. The company aims to increase adoption among players while providing state agencies with a turnkey, set-it-and-forget-it system that meets all responsible gaming standards.</p>

          <p>At the center of mLotto’s platform is a free app, which provides players with a way to play lottery games, verify their age, and confirm their physical location using the phone’s GPS device (players must be within a state’s borders to legally play). Players can save their favorite picks, or create a pool from their social networks.</p>

          <p>mLotto is built on a sophisticated payment engine that accepts debit card purchases from players and allows the lottery agency to electronically disburse lower-tier prizes. mLotto benefits from the decade of payment experience earned by parent company JPay Inc, a national leader in consumer-to-government payment processing.</p>

          <p>The Lottery Expo, co-hosted by the Public Gaming Research Institute and the Florida Lottery, is widely regarded as one of the premier gaming industry events. The conference anticipates in excess of 300 attendees, including executives, gaming experts, and lottery agency decision makers from across the US and Latin America. It will be held at the Trump Miami hotel in Miami from October 22 to 25.</p>

          <small>
          <p><b>About mLotto</b><br>
          <p>mLotto is a white-label mobile gaming platform for state lotteries offered by JPay, a South Florida payments company. With an emphasis on efficient payment processing, responsible gaming standards, and streamlined user interfaces, mLotto designs and implements customized, effective mobile solutions for lottery agencies across the country. mLotto is a subsidiary of JPay Inc, a leading processor of consumer-to-government payments. Additional information is available at www.mLotto.com. </p>
          </small>
          <br>


        </div>

      
	  